{% load static %}

<link rel="stylesheet" type="text/css" href="{%static "styles/css/bootstrap.css"%}">
<link rel="stylesheet" type="text/css" href="{%static "styles/css/index.css"%}">


<div>
  <ul class="nav navbarInt">
    <li class="nav-item ">
      <a class="nav-link navbarText active" href="create">Create New</a>
    </li>
    <li class="nav-item">
      <a class="nav-link navbarText active" href="show">Schedules</a>
    </li>
  </ul>
</div>