<!DOCTYPE html>
<html>
{% load static %}

<head>
  <title>Add Schedule</title>
  <link rel="stylesheet" type="text/css" href="{%static "styles/css/bootstrap.css"%}">
  <link rel="stylesheet" type="text/css" href="{%static "styles/css/styles.css"%}">

</head>
<body>
  <header>
    {% include "base.html"%}
  </header>

  <h1>Add Schedule</h1>
  
  <form method="POST" class="post-form" novalidate>
    {% csrf_token %}
    <!-- <h2>Name Event</h2> -->
      {{ form }}
    <button type="submit" class="save btn btn-default">Save</button> 
  </form>

</body>
</html>
