<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>My Story</title>
		<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
	</head>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top sticky-top" style="padding: 10px;">
		<div class="container-fluid" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="{% url 'home' %}">Home</a>
				</li>
			</ul>
		</div>
	</nav>
</html>