<!DOCTYPE html>
<html>
{% load static %}
<style type="text/css">
  .perCard{
  /*width: 30vh;*/
  /*height: 10vh;*/
  box-shadow:0 0 3px 5px rgb(0, 0, 0);
  margin: 5vh;
  min-width: 40vh;
  max-width: 70vh; 
}

</style>
<head>
  <title>Schedules</title>
  <link rel="stylesheet" type="text/css" href="{%static "styles/css/bootstrap.css"%}">
  <link rel="stylesheet" type="text/css" href="{%static "styles/css/index.css"%}">

</head>
<body>
  <header>
    {% include "base.html"%}
  </header>

  <h1>List Schedule</h1>
  
  <ul>
    {% for schedule in table %}
      <div class="card rounded perCard">
        <h2 >{{ schedule.event }}</h2>
        <div class="row">
          <h3 class="col-4">Date, Time </h3>
          <h3 class="col-8">:  {{ schedule.tanggal }}</h3>
        </div>
        <div class="row">
          <h3 class="col-4">Location </h3>
          <h3 class="col-8">:  {{ schedule.tempat }}</h3>
        </div>
        <h3>{{ schedule.kategori }}</h3>

      </div>
    {% endfor %}
  </ul>
  
  <a href="delete">
    <button type="button" class="btn btn-danger" >
      Erase Schedule
    </button>
  </a>
  
</body>
</html>
