.navbarInt{
	background-color: #000000;
	font-size: xx-large;
	/*text : #32c9e4;*/
	font-family: Helvetica;
  }
  .navbarText{
	color: #32c9e4;
  }

  .logoMenu{
	width: 60px;
	height: 60px;
	border-radius: 50%;
  }