.bg-white {
	background-color: white;
}

.bg-grey {
	background-color: rgb(6, 82, 204);
}

.profile-image {
	width: 70%;
}

.section-container {
	margin-top: 50px;
	width: 90%;
	margin-bottom: 40px;
	transition: 0.5s;
}

.section-container:hover {
	transition: 0.5s;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.left {
	background-color: rgb(12, 160, 12);
	padding: 35px;
}

.right {
	padding: 35px;
}

